{% extends 'base.html' %}

{% block head %}
<title>Visor Imágenes RGB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <h1 id="h1i">Imágenes RGB TFGAgro</h1>
    <button id="anterior" onclick="anterior()">Anterior</button>
    <button id="timelapse" onclick="timeLapse()">TimeLapse</button>
    <button id="siguiente" onclick="siguiente()">Siguiente</button>
    <div id="visor">
        {% for foto in fotos %}
            {% if loop.first %}
                <img id="{{ loop.index0 }}" src="/static/vera_images/{{ foto }}" style="visibility:visible">
            {% else %}
                <img id="{{ loop.index0 }}" src="/static/vera_images/{{ foto }}" style="visibility:hidden">
            {% endif %}
            {%endfor%}
        <h2> Instante en el que se toma la captura: </h2>
        <p id="timestamp_img"> {{ fotos[0][:26] }} </h2>
    </div>
{% endblock %}

{% block script %}
    <script>
        var index = 0;
        console.log("Valor inicial de index ->" + index);
        var nFotos = {{ fotosSize }}

        function timeLapse() {
            index = 0;
            document.getElementById("anterior").disabled = true;
            document.getElementById("timelapse").disabled = true;
            document.getElementById("siguiente").disabled = true;
            var interval = setInterval(function() {
                var indexActual = index % nFotos;
                var indexSiguiente = (index + 1) % nFotos;
                document.getElementById(indexActual.toString()).style.visibility = "hidden";
                document.getElementById(indexSiguiente.toString()).style.visibility = "visible";
                timestamp = document.getElementById(indexSiguiente.toString()).src
                timestamp = timestamp.substr(timestamp.lastIndexOf("/")+1, 26)
                document.getElementById("timestamp_img").innerHTML = timestamp
                index++;
                if(index == nFotos) {
                    document.getElementById("anterior").disabled = false;
                    document.getElementById("timelapse").disabled = false;
                    document.getElementById("siguiente").disabled = false;
                    index = 0;
                    clearInterval(interval);
                }

                console.log("Iteracion " + indexActual);
                console.log("Visibilidad del elemento acutal" + indexActual.toString() + ": " + document.getElementById(indexActual.toString()).style.visibility)
                console.log("Visibilidad del elemento siguiente " + indexSiguiente.toString() +  ": " +  document.getElementById(indexSiguiente.toString()).style.visibility)

            }, 1000, index, nFotos, interval);

        }
        function siguiente() {
            if(index < nFotos-1) {
                document.getElementById(index.toString()).style.visibility = "hidden";
                index++;
                document.getElementById(index.toString()).style.visibility = "visible";
                timestamp = document.getElementById(index.toString()).src
                timestamp = timestamp.substr(timestamp.lastIndexOf("/")+1, 26)
                document.getElementById("timestamp_img").innerHTML = timestamp;
            }
        }
        function anterior() {
            if(index > 0) {
                document.getElementById(index.toString()).style.visibility = "hidden";
                index--;
                document.getElementById(index.toString()).style.visibility = "visible";
                timestamp = document.getElementById(index.toString()).src
                timestamp = timestamp.substr(timestamp.lastIndexOf("/")+1, 26)
                document.getElementById("timestamp_img").innerHTML = timestamp
            }
        }
    </script>
{% endblock %}
