{% extends 'base.html' %}

{% block head %}
<title>Visor Imágenes RGB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <h1 id="h1i">Imágenes RGB TFGAgro</h1>
    <button id="anterior" onclick="anterior()" disabled>Anterior</button>
    <button id="timelapse" onclick="timeLapse()">TimeLapse</button>
    <button id="siguiente" onclick="siguiente()">Siguiente</button>
    <div id="visor">
    <img id="imagen" src="/static/vera_images/{{ fotos[0] }}">
    <h2> Instante en el que se toma la captura (Día-Mes-Año Hora:Minuto:Segundo): </h2>
    <p id="timestamp_img">{{fotos[0][8:10]}}-{{fotos[0][5:7]}}-{{fotos[0][0:4]}} {{fotos[0][11:13]}}:{{fotos[0][14:16]}}:{{fotos[0][17:19]}}</h2>
    </div>
    <a href="/"> Ir a la página principal </a>
{% endblock %}

{% block script %}
    <script>
        var index = 0;
        var nFotos = {{ fotosSize }};
        var sourcesList = [ {% for foto in fotos %} "/static/vera_images/{{ foto }}"{{ ", " if not foto.last else "" }} {% endfor%}];
        
        function timeLapse() {
        document.getElementById("anterior").disabled = true;
        document.getElementById("timelapse").disabled = true;
        document.getElementById("siguiente").disabled = true;
        index = 0;    
        console.log("timeLapse function started");
        var intervalFunc = setInterval( 
            function () {
                console.log("Iterando");

                if (index == nFotos) {
                    console.log("Final de carrera");
                    index = 0;


                    captureDate = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+1, 10);
                    captureDate = captureDate.substring(8,10) + "-" + captureDate.substring(5,7) + "-" + captureDate.substring(0, 4);
                    captureHour = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+12, 8);
                    document.getElementById("timestamp_img").innerHTML = captureDate + "  " + captureHour;

                    document.getElementById("imagen").src = sourcesList[index];
                    
                    document.getElementById("anterior").disabled = false;
                    document.getElementById("timelapse").disabled = false;
                    document.getElementById("siguiente").disabled = false;

                    clearInterval(intervalFunc);
                }
                var currentIndex = index % nFotos;
                                 
                captureDate = sourcesList[currentIndex].substr(sourcesList[currentIndex].lastIndexOf("/")+1, 10);
                captureDate = captureDate.substring(8,10) + "-" + captureDate.substring(5,7) + "-" + captureDate.substring(0, 4);
                captureHour = sourcesList[currentIndex].substr(sourcesList[currentIndex].lastIndexOf("/")+12, 8);
                document.getElementById("timestamp_img").innerHTML = captureDate + "  " + captureHour;
                
                document.getElementById("imagen").src = sourcesList[currentIndex]; 
               
                index++;
            }, 2000, index, nFotos, sourcesList, intervalFunc); 
        
        }
        function siguiente() {
            if ( index == nFotos - 1 ) {
                document.getElementById("siguiente").disabled = true;
                return;
            }
            index++;
            document.getElementById("anterior").disabled = false;
            
            document.getElementById("imagen").src = sourcesList[index];
            
            captureDate = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+1, 10);
            captureDate = captureDate.substring(8,10) + "-" + captureDate.substring(5,7) + "-" + captureDate.substring(0, 4);
            captureHour = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+12, 8);
            document.getElementById("timestamp_img").innerHTML = captureDate + "  " + captureHour;

            console.log("Siguiente, " + index.toString());
        }
        function anterior() {
            
            if ( index == 0 ) {
                document.getElementById("anterior").disabled = true;
                return;
            }
            index--;
            document.getElementById("siguiente").disabled = false;
            document.getElementById("imagen").src = sourcesList[index];


            captureDate = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+1, 10);
            captureDate = captureDate.substring(8,10) + "-" + captureDate.substring(5,7) + "-" + captureDate.substring(0, 4);
            captureHour = sourcesList[index].substr(sourcesList[index].lastIndexOf("/")+12, 8);
            document.getElementById("timestamp_img").innerHTML = captureDate + "  " + captureHour;

            console.log("Siguiente, " + index.toString());
        }
    </script>
{% endblock %}
